<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Builder -->
   <extension
         id="julianBuilder"
         name="Julian Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="info.julang.ide.builder.JulianBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="julianNature"
         name="Julian Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="info.julang.ide.builder.JulianNature">
         </run>
      </runtime>
      <builder
            id="info.julang.ide.julianBuilder">
      </builder>
   </extension>
   <extension
         id="julianProblem"
         name="Julian Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   <!-- Properties -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="info.julang.ide.properties.julianPropertyPage"
            name="Julian Script"
            class="info.julang.ide.properties.JulianPropertyPage"
            nameFilter="*.jul">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
   <!-- Editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="info.julang.ide.editors.JulianEditor"
            name="Julian Script Editor"
            icon="icons/mascot.png"
            extensions="jul"
            class="info.julang.ide.editors.JulianEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
      </editor>
   </extension>

</plugin>
