#* Parameters:
   tv_root (ApiIndexModel.PModule)
   tv_type (string: "api" | "tutorial")
   tv_module (string: can be "")
   tv_name (string)
   tv_contents (string)
   tv_index (boolean: true if this is an index page)
*#
<!doctype html>
<html lang="en">
<head>
    <title>Julian Script Engine</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src *; 
      style-src 'self' 'unsafe-inline' https://* http://*; 
      script-src 'self' 'unsafe-inline' https://* http://*;">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/scripts/start.js"></script>
#if( $tv_index )
    <script language="javascript">
    	$().ready(showIndex);
    </script>
#end
    
    <link rel="icon" type="image/png" href="/img/favicons/32x32_Gradient.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicons/16x16_Gradient.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/styles/all.css">
</head>
<body>
    <nav id="header" class="navbar navbar-default navbar-static-top navbar-expand-lg bg-light navbar-light">
    	<ul class="navbar-nav mr-auto">
    	    <li class="nav-item">
    	        <a href="/"><img src="/img/favicons/32x32_Gradient_Ext.png" height="32" width="32"></a>
    	    </li>
    	    <li class="nav-item">
        	    <a class="navbar-brand" style="padding: 5px;" href="/">Julian Scripting Engine</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Download</a>
            </li>
            <li class="nav-item #if($tv_type == "api")active#{end}">
                <a class="nav-link" href="/api.html">API</a>
            </li>
            <li class="nav-item #if($tv_type == "tutorial")active#{end}">
                <a class="nav-link" href="/tutorial/ch_01.html">Tutorial</a>
            </li>
        </ul>
    </nav>

    <!-- A vertical navbar -->
    <div class="container-fluid">
    <div class="sm-button-group" style="left: 80%;">
        <div id="sm-btn-menu">
            <svg viewBox="0 0 32 32" width="60%">
                <use xlink:href="/img/icons/icons.svg#ic-index"></use>
            </svg>
          </div>
          <div id="sm-btn-top">
            <svg viewBox="0 0 32 32" width="60%">
                <use xlink:href="/img/icons/icons.svg#ic-top"></use>
            </svg>
        </div>
    </div>
    <div class="row" style="margin-top:30px; margin-left:1%;">
      <div id="nav-sidebar" class="col-12 col-md-3 bd-sidebar" >
        <nav class="navbar">

            <!-- Links -->
            <ul class="navbar-nav">
#if( $tv_index )
#set( $tv_prefix =  $tv_type + "/" )
#else
#if( $tv_module != "" )
#set( $tv_prefix = "../" )
#else
#set( $tv_prefix = "" )
#end
#end
#if( $tv_type == "tutorial" )
#parse( "templates/website/i_tutorial.vm" )
#else
#parse( "templates/website/i_api.vm" )
#end
            </ul>

        </nav>
      </div>
      <div class="col-12 col-md-9">
            <div id='open_ender_output' #if($tv_type == "tutorial")class='tutorial_contents'#{end}>
#if( $tv_contents != $null )
$tv_contents
#end
            </div>
#if( !$tv_index && $tv_type == "tutorial" )
#parse( "templates/website/i_tutorial_ext.vm" )
#end
      </div>
    </div>
</div>

</body>
</html>